/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Cassandra";
    src: url("./static/fonts/Cassandra.ttf") format('truetype');
}